*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    /*padding: 20px; */
}
/* HEADER */
.debug .border {
    border: 2px dashed black;
  }
header{
    background-color: rgb(173,216,230);
    height: 100px;
    padding: 20px;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
nav{
    justify-content: space-between;
}
.navigation{
    padding: 15px;  
    background-color: rgb(218,165,32);
}
.left-col,.right-col{
    flex-basis: calc(100% / 3);
}
.central{
    flex-basis: calc(100% / 3 * 2);
    text-align: center;
}
.right-col{
    text-align: right;
}
.jumbotron{
    background-color: rgb(0, 0, 139);
    min-height: 450px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.content{
    background-color: rgb(238,130,238);
    width: 900px;
    height: 400px;
}
/* MAIN */
.backg{
    min-height: 100px;
    margin: 0px auto;
    padding: 40px;
}
.white{
    background-color: rgb(255, 255, 255);
}
.large-col{
    background-color: rgb(30,144,255);
    min-height: 500px;
    flex-basis: 60%;
}
.small-col{
    background-color: rgb(255,192,203);
    flex-basis: 40%;
}
.lightgrey{
    background-color: rgb(211, 211, 211);
}
.full-col{
    background-color: rgb(34,139,34);
    min-height: 800px;
}
.grey{
    background-color: rgb(35,39,42);
}
.large{
    background-color: rgb(240,128,128) ;
    min-height: 600px;
    flex-basis: 30%;
}
.small{
    background-color: rgb(32,178,170);
    flex-basis: calc(70%/ 4);
}
/* FOOTER */
.aquamarine{
    background-color: aquamarine;
    padding: 20px 0;
}
.foot{
    background-color: rgb(255,182,193);
    padding: 10px;
}